@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif !important;
}
/* globals.css */
@layer components {
  .form-card {
    @apply bg-white rounded-xl shadow-lg p-6 md:p-8;
  }

  .input {
    @apply w-full h-11 border border-gray-300 rounded-lg px-4 text-sm
    focus:outline-none focus:ring-2 focus:ring-blue-500;
  }

  .input-error {
    @apply border-red-500 focus:ring-red-500;
  }

  .label {
    @apply text-sm font-medium text-gray-700;
  }

  .btn-primary {
    @apply bg-black text-white px-6 py-2 rounded-lg text-sm
    hover:bg-gray-900 transition;
  }

  .btn-secondary {
    @apply bg-gray-100 text-gray-800 px-6 py-2 rounded-lg text-sm
    hover:bg-gray-200 transition;
  }

  .step-circle {
    @apply w-10 h-10 flex items-center justify-center rounded-full;
  }

  .upload-box {
    @apply border-2 border-dashed rounded-lg h-32 flex flex-col
    items-center justify-center cursor-pointer text-sm text-gray-500
    hover:border-blue-500 transition;
  }
}
/* 3D helpers */
.perspective {
  perspective: 2000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
